@model IEnumerable<Video_Store.Models.View_Model.CatgoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Category</h2>
<p>
    @Html.ActionLink("Insert New Category", "AddCategory")
</p>
@if (!Model.Any())
{
    <p>
        The Category List is Empty
    </p>
}
else
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

<div>
    @Html.ActionLink("Back to Movies", "Index")
</div>